body {
	margin:0px;
	background-color: rgba(0, 0, 0, 0);
	font-family:  Arial, Helvetica, sans-serif;
	color:#FFFFFF;
}

#board {
	position:absolute;
	top:0px;
	left:0px;
	opacity:0;
	width:1920px;
	height:200px;
	background-image:url('../images/game_team.png');
}

.pImg{
	position:absolute;
	opacity:0;
	text-align:center;
	vertical-align: middle;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center bottom;
	-webkit-transition: filter 1s ease-in-out;
}

.death {
	filter: grayscale(1);
}

.tText {
	position:absolute;
	font-size:40px;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	vertical-align: bottom;
	overflow:visible;
		font-weight:600;
		font-style:italic;
	text-shadow: 
	    3px 3px #000,
		3px 3px #000;
	transition: color 2s ease-out;
}

.gradBox {
	position:absolute;
	opacity:0;
	top:0px;
	width: 790px;
	background: linear-gradient(to bottom, rgba(0, 10, 10, 0) 20%, rgba(0, 10, 10, 0.7) 80% );
}

#pScore1 {
	position:absolute;
	left:795px;
	top:4px;
	width:47px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:36px;
	text-align:center;
	text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000; 
}
#pScore2 {
	position:absolute;
	left:1077px;
	top:4px;
	width:47px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:36px;
	text-align:center;
	text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000; 
}

#mText3 {
	color: #FFF;
	position: absolute;
	left: 877px;
	top: 1px;
	width: 169px;
	height: 32px;
	line-height: 32px;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: center;
	text-shadow: 
	    2px 2px #000,
		2px 2px #000;
}